@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.bkg
{
	height: 100vh;
	width: 100vw;
	margin: auto;
	background: url('graphics/water.png');
	display: block;
	background-size: 100vw 100vh;
	text-align:center;
}

.centered
{
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 60vh;
	max-height: 70vh;
	min-width: 60vw;
	max-width: 85vw;
}

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	-webkit-box-shadow: 0 0 5vw 1.5vw white;
	-moz-box-shadow: 0 0 5vw 1.5vw white;
	-ms-box-shadow: 0 0 5vw 1.5vw white;
	-o-box-shadow: 0 0 5vw 1.5vw white;
	box-shadow: 0 0 5vw 1.5vw white;
}